/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

.background-1 {
  width: 100%;
  /* margin-top: -47px; */
  height: 940px;
  background: linear-gradient(239.13deg, #0B9B8A -2.54%, rgba(0, 0, 0, 0.71) 140.58%);
}

.top-navbar {
  height: 40px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  /* margin-top: 47px; */
}

.logo-title {
  width: 255px;
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.menu-navbar {
  height: 33px;
  width: 462px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selected-menu-navbar {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.select-menu-navbar {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.div-akun {
  height: 40px;
  width: 239px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-daftar {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.button-masuk {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: rgba(11, 155, 138, 1);
  border-width: 0px;
  border-radius: 10px;
  width: 133px;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
}

.subtitle {
  font-family: Poppins;
  font-size: 62px;
  font-weight: 700;
  line-height: 93px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(255, 255, 255, 1);
  margin-right: 160px;
}

.promp-1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  text-align: right;
  margin-right: 160px;
  /* margin-top: -50px; */
}

.div-temukan {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-temukan {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  color: rgba(11, 155, 138, 1);
  width: 273px;
  height: 70px;
  border-radius: 10px;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 1);
  margin-left: 1070px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}